include CONTRIBUTING.md
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include netbox_napalm_plugin/templates *
recursive-include netbox_napalm_plugin/static *

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
